* {
  box-sizing: border-box;
}

body {
  height: 200vh;
  margin: 0;
  font-family: Helvetica;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  65px;
  grid-template-areas: 
    "nav"
    "b1"
    "b2"
    "b3"
    "b4" 
}

p {
  display: inline;
  color: white;
  padding: 0 0 0 20px;
  font-size: 15px;
  font-family: 'Philosopher', sans-serif;
}

h2 {
  color: white;
  size:20px;
  padding: 25px 35px 0 35px;
  text-align: left;
  font-family: 'Philosopher', sans-serif;
}

.comments {
font-family: 'Philosopher', sans-serif;
font-size: 11px;
padding: 0 0 0 10px;
}

h6 {
  color: white;
  text-align: left;
  display: inline;
  font-size: 10px;
  font-family: 'Philosopher', sans-serif;
  padding: 0 0 0 13px;
}

nav {
  display: flex;
  color: white;
  background-color: #D33A2C;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
  margin: 10px;
  grid-column: 1 / 3;
}

.bar {
  grid-area: nav;
  background-color: #D33A2C;
  justify-content: center;
}
.tag {
  color: black;
  font-size: 11px;
}
.article1 img {
  border: 3px solid white;
  border-radius: 20%;
  margin: 0 auto;
  width: 75px;  
}

.article2 img {
  border: 3px solid white;
  border-radius: 20%;
  margin: 0 auto;
  width: 75px; 
  height: 75px; 
}

.article3 img {
  border: 3px solid white;
  border-radius: 20%;
  margin: 0 auto;
  width: 75px; 
}
.article4 img {
  border: 3px solid white;
  border-radius: 20%;
  margin: 0 auto;
  width: 75px;
}

#art1 {
  grid-area: b1;
  background-color: #BC3428;
}
#art2 {
  grid-area: b2;
  background-color: #C7372A;
}
#art3 {
  grid-area: b3;
  background-color: #B13125;
}
#art4 {
  grid-area: b4;
  background-color: #BC3428;
}

nav, #art1, #art2, #art3, #art4 {
  display: flex;
}

@media only screen and (min-width: 768px){
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  75px 375px 375px;
    grid-template-areas: 
      "nav nav"
      "b1 b2"
      "b3 b4";
  }
}